In [1]:
import pandas as pd
import numpy as np

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

In [3]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           198 non-null    float64
 1   cylinders     198 non-null    int64
 2   displacement  198 non-null    int64
 3   horsepower    198 non-null    object
 4   weight        198 non-null    int64
 5   acceleration  198 non-null    float64
 6   model         198 non-null    int64
 7   origin        198 non-null    int64
 8   car           198 non-null    object
 9   Unnamed: 9    0 non-null      float64
 10  Unnamed: 10   0 non-null      float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   0 non-null      float64
 13  Unnamed: 13   0 non-null      float64
dtypes: float64(7), int64(5), object(2)
memory usage: 21.8+ KB

In [4]:
cars2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           200 non-null    float64
 1   cylinders     200 non-null    int64
 2   displacement  200 non-null    int64
 3   horsepower    200 non-null    object
 4   weight        200 non-null    int64
 5   acceleration  200 non-null    float64
 6   model         200 non-null    int64
 7   origin        200 non-null    int64
 8   car           200 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.2+ KB

## Oops, it seems our first dataset has some unnamed blank collumns, fix cars1.
> 첫 번째 데이터 집합에 이름이 지정되지 않는 빈 열이 있는 것 같아. cars1 데이터를 수정해줘.

In [9]:
cars1.isnull().sum()

mpg               0
cylinders         0
displacement      0
horsepower        0
weight            0
acceleration      0
model             0
origin            0
car               0
Unnamed: 9      198
Unnamed: 10     198
Unnamed: 11     198
Unnamed: 12     198
Unnamed: 13     198
dtype: int64

In [10]:
cars1 = cars1.loc[:, 'mpg':'car']
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

## What is the number of observations in each dataset?

In [11]:
cars1.shape

(198, 9)

In [12]:
cars2.shape

(200, 9)

## Join cars1 and cars2 into a single DataFrame called cars.

- 열 이름이 일치하지 않는 경우 해당 열은 포함되지 않거나 새 열로 추가된다.
- pd.merge( ): 공통 열 기준으로 병합
> - merge는 항상 '행(row)'을 기준으로 결합
- pd.concat( ): 단순 연결 → 열 개수 달라도 자동으로 NaN 채움.

In [13]:
cars = pd.merge(cars1, cars2, how='outer')

In [15]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,9.0,8,304,193,4732,18.5,70,1,hi 1200d
1,10.0,8,307,200,4376,15.0,70,1,chevy c20
2,10.0,8,360,215,4615,14.0,70,1,ford f250
3,11.0,8,318,210,4382,13.5,70,1,dodge d200
4,11.0,8,350,180,3664,11.0,73,1,oldsmobile omega
...,...,...,...,...,...,...,...,...,...
393,43.4,4,90,48,2335,23.7,80,2,vw dasher (diesel)
394,44.0,4,97,52,2130,24.6,82,2,vw pickup
395,44.3,4,90,48,2085,21.7,80,2,vw rabbit c (diesel)
396,44.6,4,91,67,1850,13.8,80,3,honda civic 1500 gl
397,46.6,4,86,65,2110,17.9,80,3,mazda glc

In [16]:
# cars = cars1.append(cars2)

- append( ): 데이터프레임을 **'행 방향'**으로 단순히 추가하며, 열 이름이 달라도 NaN으로 채움.

- pd.merge( ): **'공통 열(키)'**을 기준으로 데이터프레임을 병합하며, 다양한 조인 방식(inner, outer 등)을 지원.

- pd.concat( ): 여러 데이터프레임을 **'축(axis) 기준'**으로 단순히 연결하며, 열 이름이 달라도 NaN으로 채움.

## Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [17]:
import numpy as np

cars.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

In [18]:
cars.shape

(398, 9)

In [19]:
cars['owner'] = np.random.randint(15000, high=73000, size=398, dtype='l')
# long integer type: 일반적으로 큰 정수 범위가 필요할 때 사용

In [20]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    int64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model         398 non-null    int64
 7   origin        398 non-null    int64
 8   car           398 non-null    object
 9   owner         398 non-null    int64
dtypes: float64(2), int64(6), object(2)
memory usage: 31.2+ KB

## Add the column owners to cars.

In [21]:
cars['owner'].head()

0    47061
1    72265
2    23574
3    16711
4    40482
Name: owner, dtype: int64